<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Chapters
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
  <a href="/users/logout" class="nav-link">Logout</a>
</nav>
<p class="lead mb-3">Welcome <%= user.name %></p>
<div class="container">
  <div class="akai">
    <div class="keyboard">
      <div id="frame">
        <div class="slidecontainer">
          <div class="volume">
            <input type="range" min="0" max="127" value="50" class="slider" id="volumeSlider">
            <p>Vol: <span id="volumeValue"></span></p>
          </div>
          <div class="filter">
            <input type="range" min="0" max="127" value="50" class="slider" id="filterSlider">
            <p>Filter: <span id="filterValue"></span></p>
          </div>
        </div>
        <div id="keyscontainer"></div>
      </div>

      <div class="activeNotes">
        <h5 id="activenotes">Active Notes</h5>
        <p id="noteslist"></p>
      </div>
    </div>

  </div>
</div>

<script language="Javascript" type="text/javascript" src="tonejs/key.js"></script>
<!-- <script language="Javascript" type="text/javascript" src="tonejs/instrument.js"></script> -->


<!-- <script language="Javascript" type="text/javascript" src="tonejs/step.js"></script> -->
<script language="Javascript" type="text/javascript" src="tonejs/midi.js"></script>