<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.33/Tone.js"></script>
  <link rel="stylesheet" href="../css/stepStyle.css" />

</head>

<body >
  <div class="container"  >
    <div style="background:#fafafa; color:#222; padding:10px;">
      <table class="channelRack" id="channelRack" >
      </table>
    </div>
  </div>

  <div class="player container">
    <button id="play">Play</button>
    <button id="stop">Stop</button>
  </div>
  <script src="../../tonejs/step.js"></script>
</body>

</html>